#loading-project {
  flex: 5;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project {
  flex: 4;
  min-width: 200px;

  #file {
    display: none;
  }

  #header {
    display: flex;
    align-items: center;
    border-bottom: solid 0.5px gray;
    padding-bottom: 15px;
    
    .branch-dropdown {
      width: 200px;
    }

    .header-item {
      margin-right: 20px;
    }
  }
}